<% if (locals.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% if (Array.isArray(locals.errors)) { %>
            <ul class="mb-0">
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <%= error %>
        <% } %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if (locals.success) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>